body {
    background-color: #3B3B3B
}

.page {
    padding: 0 10%
}

.page-title {
    color: white;
    text-align: center
}

.subtitle {
    color: #FF6F61
}

.body-text {
    color: white
}

strong {
    color: #FF6F61
}