body {
    background-color: #3B3B3B
}

.page {
    padding: 0 10%
}

.page-title {
    color: white;
    text-align: center
}

.subtitle {
    color: #FF6F61
}

.body-text {
    color: white
}

strong {
    color: #FF6F61
}

.footer {
    color: rgb(175, 175, 175);
    text-align: center;
    font-size: 0.9rem;
}

.githubIcon {
    width: 40px;
    height:40px;
}